<nav aria-label="Navegación principal">
  
  <!-- LOGO -->
  <a href="{{ site.baseurl }}" class="logo">
    <img src="{{ site.baseurl }}/assets/img/logo.png" alt="Logo">
  </a>

  <!-- MENU -->
  <div class="menu" id="menu">

    <a href="{{ site.baseurl }}/jpg-to-pdf/">JPG a PDF</a>
    <a href="{{ site.baseurl }}/split/">Dividir</a>
   <a href="{{ site.baseurl }}/blog/">Blog</a>

  
  </div>

  <!-- HAMBURGER -->
  <button class="icon-btn" id="navbtn" aria-label="abrir menú">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </button>

</nav>

<div class="overlay" id="overlay"></div>
