<nav aria-label="Main Navigation">
  
  <!-- LOGO -->
  <a href="{{ site.baseurl }}" class="logo">
    <img src="{{ site.baseurl }}/assets/img/logo.png" alt="Logo">
  </a>

  <!-- MENU -->
  <div class="menu" id="menu">

    <a href="https://rforrupesh.github.io/pdf/merge/">Merge PDF</a>
    <a href="https://rforrupesh.github.io/pdf/jpg-to-pdf/">JPG to PDF</a>
    <a href="https://rforrupesh.github.io/pdf/split/">Split</a>
    <a href="https://rforrupesh.github.io/pdf/image/">Images</a>
   <a href="https://rforrupesh.github.io/pdf/blog/">Blog</a>

  
  </div>

  <!-- HAMBURGER -->
  <button class="icon-btn" id="navbtn" aria-label="Open menu">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </button>

</nav>

<div class="overlay" id="overlay"></div>
